# Python related
.Python
build/
dist/
lib/
*.egg-info/
*.egg
*.pyc
*.pyo
PKG-INFO
__pycache__/


# Notebook documentation
docs/autoexamples
docs/_static
docs/notebooks/.ipynb_checkpoints
docs/_build
!docs/_static/my-styles.css

.DS_Store
*~
